<div class="container">

  <div class="my-card rounded mb-4">
    <div *ngIf="program" class="pb-3 title">
      <span class="">{{program.title}}</span>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Code Langage</mat-label>
      <mat-select name="food" [ngModel]="selectedLanguage"  [disabled]="langId"  [compareWith]="compareFn">
        <mat-option *ngFor="let code of codeLanguages" [value]="code.id">
          {{code.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="ml-2" appearance="fill">
      <mat-label>Theme</mat-label>
      <mat-select name="food" (valueChange)="changeEditorBackgroundMode($event)" [(value)]="selectedLanguage">
        <mat-option *ngFor="let background of backgrounds" [value]="background">
          {{background}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="my-card rounded mb-4">
    <div #editorScreen>
      <div class="d-flex">
        <div class="editor-header">Code</div>
        <mat-icon class="ml-auto my-icone" (click)="resizeEditor(editorScreen)" mat-list-icon><i class="material-icons">fullscreen </i></mat-icon>
      </div>
      <div class="app-ace-editor editor" style="min-height: 300px" #editor></div>
    </div>

    <div #subDiv class="mt-2 row mx-0">
      <div #inputScreen class="col-12 col-md-4 px-0 pl-md-0 pr-md-2">
        <div class="d-flex">
          <div class="editor-header">Input</div>
          <mat-icon class="ml-auto my-icone" (click)="resizeEditorInput(inputScreen,subDiv)" mat-list-icon><i class="material-icons">fullscreen </i></mat-icon>
        </div>
        <div class="app-ace-editor editor" #input style="height: 130px;"></div>
      </div>

      <div #outputScreen class="col-12 col-md-8 px-0 pr-md-0 pl-md-2 mt-2 mt-md-0">
        <div class="d-flex ">
         <div class="editor-header">Output</div>
          <mat-icon class="ml-auto my-icone" (click)="resizeEditorOutput(outputScreen,subDiv)" mat-list-icon><i class="material-icons">fullscreen </i></mat-icon>
        </div>
        <div
          class="app-ace-editor"
          #output
          style="width: 100%;height: 130px;"
        ></div>
      </div>
    </div>
    <div id="progressBar" class="mt-4 opacity-none  d-flex">
      <img height="25px" class="rotate" src="assets/images/bouee.png">
      <mat-progress-bar class="my-auto mx-3" mode="buffer" color="warn"></mat-progress-bar>
      <img height="25px" class="rotate" src="assets/images/bouee.png">
    </div>
  </div>



  <div class="my-card rounded d-flex">
    <button *ngIf="!contestId" class="btn btn-success btn-block my-0 mr-2">Save</button>
    <button (click)="submitChoiceCode()" class="btn btn-dark btn-block my-0 ml-2">Execute</button>

  </div>

</div>
