.app-ace-editor {
  border: 2px solid #19426c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

:host{
  height: 100%;
  display: contents;
}

.container{
  padding: 2rem;
}

.my-card{
  background-color: white;
  padding: 1rem;
}

.my-icone{
  cursor: pointer;
}

.editor-header{
  color: white;
  height: 100%;
  width: fit-content;
  padding: .2rem 1rem;
  background-color: #19426c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Salsa";
}

.big-screen{
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 10;
  margin: auto;
  background-color: white;
  top: 0;
  left: 0;
  padding: 2rem;
  flex-direction: column;
  display: flex;
}

.code-big-screen{
  flex-grow: 1;
  height: 90vh;
}

.editor{
  width: 100%;
  height: 100%;
}

.opacity-none{
  opacity: 0;
  transition: all 0.3s;
}

.opacity-full{
  opacity: 1;
  transition: all 0.3s;
}

.rotate{
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate{
  to{ transform: rotate(360deg); }
}

.title{
  font-size: 1.3rem;
  font-family: "Salsa";
}
