<div class="h-100">
  <mat-sidenav-container [hasBackdrop]="backDrop" (backdropClick)="closeSideBar()" class="mat-typography w-100 h-100 sidebar-bg">
    <mat-sidenav [opened]="sideBarExpended" [mode]="sideBarMode" [position]="sideBarPosition" class="side-nav-desktop" autosize>
      <div class="logo-container">
        <img class="logo-full" src="assets/images/logo_white.svg">
      </div>
      <mat-nav-list *ngIf="userMode == 'user'">
        <mat-list-item *ngIf="showReduce" (click)="reduceSideBar()">
          <mat-icon mat-list-icon><i class="material-icons">first_page</i></mat-icon>
          <span class="text-link" mat-line>Reduce</span>
        </mat-list-item>
        <mat-list-item [routerLink]="['/board']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon mat-list-icon><i class="material-icons">textsms</i></mat-icon>
          <span class="text-link" mat-line>Board</span>
        </mat-list-item>
        <mat-list-item [routerLink]="['/my-messages']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon mat-list-icon><i class="material-icons">textsms</i></mat-icon>
          <span class="text-link" mat-line>My messages</span>
        </mat-list-item>
        <mat-list-item [routerLink]="['/users']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon mat-list-icon><i class="material-icons">supervisor_account</i></mat-icon>
          <span class="text-link" mat-line>Users</span>
        </mat-list-item>
        <mat-list-item [routerLink]="['/contests']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon mat-list-icon><i class="material-icons">supervisor_account</i></mat-icon>
          <span class="text-link" mat-line>Contests</span>
        </mat-list-item>
        <mat-list-item [routerLink]="['/my-portfolio']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon mat-list-icon><i class="material-icons">supervisor_account</i></mat-icon>
          <span class="text-link" mat-line>My portfolio</span>
        </mat-list-item>
        <mat-list-item [routerLink]="['/my-account']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon mat-list-icon><i class="material-icons">supervisor_account</i></mat-icon>
          <span class="text-link" mat-line>My Account</span>
        </mat-list-item>
        <mat-list-item [routerLink]="['/logout']">
          <mat-icon mat-list-icon><i class="material-icons">login</i></mat-icon>
          <span class="text-link" mat-line>Logout</span>
        </mat-list-item>
      </mat-nav-list>

      <mat-nav-list *ngIf="userMode == 'admin'">
        <mat-list-item *ngIf="showReduce" (click)="reduceSideBar()">
          <mat-icon mat-list-icon><i class="material-icons">first_page</i></mat-icon>
          <span class="text-link" mat-line>Reduce</span>
        </mat-list-item>
        <mat-list-item [routerLink]="['/create-admin']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon mat-list-icon><i class="material-icons">supervisor_account</i></mat-icon>
          <span class="text-link" mat-line>Admin</span>
        </mat-list-item>
        <mat-list-item [routerLink]="['/create-contest']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon mat-list-icon><i class="material-icons">play_for_work</i></mat-icon>
          <span class="text-link" mat-line>Contest</span>
        </mat-list-item>
        <mat-list-item [routerLink]="['/logout']">
          <mat-icon mat-list-icon><i class="material-icons">login</i></mat-icon>
          <span class="text-link" mat-line>Logout</span>
        </mat-list-item>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <mat-sidenav-container [hasBackdrop]="false" class="mat-typography w-100 h-100 sidebar-bg" autosize>
        <mat-sidenav [opened]="sideBarHalfExpended" [mode]="sideBarMode" [position]="sideBarPosition">
          <div class="logo-container">
            <img class="logo-half" src="assets/images/logo_no_text.svg">
          </div>
          <mat-nav-list *ngIf="userMode == 'user'">
            <mat-list-item *ngIf="showReduce" (click)="extendSideBar()">
              <mat-icon mat-list-icon><i class="material-icons">last_page</i></mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="['/board']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <mat-icon mat-list-icon><i class="material-icons">textsms</i></mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="['/my-messages']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <mat-icon mat-list-icon><i class="material-icons">textsms</i></mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="['/users']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <mat-icon mat-list-icon><i class="material-icons">supervisor_account</i></mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="['/contests']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <mat-icon mat-list-icon><i class="material-icons">supervisor_account</i></mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="['/my-portfolio']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <mat-icon mat-list-icon><i class="material-icons">supervisor_account</i></mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="['/my-account']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <mat-icon mat-list-icon><i class="material-icons">supervisor_account</i></mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="['/logout']">
              <mat-icon mat-list-icon><i class="material-icons">login</i></mat-icon>
            </mat-list-item>
          </mat-nav-list>

          <mat-nav-list *ngIf="userMode == 'admin'">
            <mat-list-item *ngIf="showReduce" (click)="extendSideBar()">
              <mat-icon mat-list-icon><i class="material-icons">last_page</i></mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="['/create-admin']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <mat-icon mat-list-icon><i class="material-icons">supervisor_account</i></mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="['/create-contest']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <mat-icon mat-list-icon><i class="material-icons">play_for_work</i></mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="['/logout']">
              <mat-icon mat-list-icon><i class="material-icons">login</i></mat-icon>
            </mat-list-item>
          </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="margin-tablet" (scroll)="scrollFunction()" id="content">

          <button *ngIf="scrollHidden === false" class="btn" id="btn-back-to-top" (click)="backToTop()">
            <mat-icon> arrow_upward </mat-icon>
          </button>

          <div class="main-panel" id="contents">
            <nav class="navbar navbar-dark bg-dark nav-show">
              <button class="navbar-toggler" type="button" (click)="extendSideBarfast()">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
