.icone{
  margin: unset !important;
}

.d-grid{
  span{
    margin-left: .5rem !important;
  }
}

@media screen and (min-width: 700px) {
  .d-grid{
    .span-no-left{
      margin-left: 0rem !important;
    }
  }
}


.publication-content{
  width: auto !important;
  display: unset !important;
  margin: auto 0 !important;
  -webkit-line-clamp: unset !important;
  -webkit-box-orient: unset !important;
  overflow: unset !important;
}

.post-card {
  margin-bottom: 1rem !important;
}

.truncate-flex{
  flex: 1;
}

.truncate-flex{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
