<div class="h-100">

  <div class="row p-0 m-0 flex-invers">

    <div class="col-12 h-100 p-0 d-flex">
      <div class="card h-auto m-auto">
        <img width="100%" class="m-auto p-3" src="assets/images/frisePsi_original_blue.svg">
        <h1 class="card-title">Create admin</h1>
        <div class="card-body m-auto px-0 w-75" style="display: grid">
          <form [formGroup]="registerForm">
            <div class="mb-2">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput [formControlName]="'email'" autocomplete="false">
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-error>{{getFieldErrorMessage('email')}}</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-2">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>User name</mat-label>
                <input matInput [formControlName]="'userName'" autocomplete="false">
                <mat-icon matSuffix>person</mat-icon>
                <mat-error>{{getFieldErrorMessage('userName')}}</mat-error>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [formControlName]="'password'" [type]="hidePassword ? 'password' : 'text'" autocomplete="false">
                <mat-icon class="cursor" [style.color]="hidePassword ? 'black' : 'grey'"  (click)="showPassword()" matSuffix>remove_red_eye</mat-icon>
                <mat-error>{{getFieldErrorMessage('password')}}</mat-error>
              </mat-form-field>
            </div>
            <div class="mb-2">
              <div class="d-flex m-0">1 Capital Letter<mat-icon class="ml-auto">{{ hasMajLetter ?'check_circle': 'not_interested'}}</mat-icon></div>
              <div class="d-flex m-0">1 Lowercase Letter<mat-icon class="ml-auto">{{ hasMinLetter ?'check_circle': 'not_interested'}}</mat-icon></div>
              <div class="d-flex m-0">1 Digit<mat-icon class="ml-auto">{{ hasNumber ?'check_circle': 'not_interested'}}</mat-icon></div>
            </div>
            <div>
              <button (click)="register()" [disabled]="isRequestingRegister" type="submit" class="btn btn-block btn-dark m-auto">
                <span *ngIf="!isRequestingRegister">Create Account</span>
                <mat-spinner *ngIf="isRequestingRegister" class="m-auto" [diameter]="30" color="warn"></mat-spinner>
              </button>
            </div>
          </form>
          <div id="card-message" class="mt-2 mb-auto card-message">
            <h3 class="m-0">{{errorMessage}}</h3>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
