<video id="background-video" style="z-index: 1" [autoplay]="true" [loop]="true" [muted]="true">
  <source src="assets/video/pool.mp4" type="video/mp4">
</video>

<div class="content" style="position: absolute; z-index: 1;left: 0">
  <h1>Take the plunge !</h1>

  <div class="row d-flex w-100" style="margin-top: 10vh">
    <div class="col-12 col-md-6 d-flex text-center" style="padding: 2rem">
      <h2 class="m-auto" >Join the first social app made for the developper community</h2>
    </div>
    <div class="col-12 col-md-6" style="padding: 2rem">
     <img width="100%" src="assets/images/developer.svg">
    </div>
  </div>

  <div class="py-5" style="background-color: #19426c;width: 100%">
    <h2 class="text-center ">Code online with different programming languages</h2>
    <div class="d-flex">
      <img width="80px" class="ml-auto mr-5" src="assets/images/C_Programming_Language.svg">
      <img width="80px" class="mr-auto ml-5" src="assets/images/F_Sharp_logo.svg">
    </div>
  </div>

  <div class="row d-flex w-100" style="margin-top: 10vh">
    <div class="col-12 col-md-6" style="padding: 2rem">
      <img class="badge-pill" width="100%" src="assets/images/champion.svg">
    </div>

    <div class="col-12 col-md-6 d-flex text-center" style="padding: 2rem">
      <h2 class="m-auto" >Solve contests and become a champion !</h2>
    </div>

  </div>

  <h2 class="text-center" style="margin-top: 10vh">Also available on the store</h2>
  <p class="text-center">*(not really but we have an app)</p>

  <div class="py-3" style="background-color: white;width: 100%">
    <div class="d-flex">
      <img class="ml-sm-auto mr-sm-5 width" src="assets/images/Available_on_the_App_Store_(black)_SVG.svg">
      <img class="mr-sm-auto ml-sm-5 width" src="assets/images/Google_Play_Store_badge_EN.svg">
    </div>
  </div>

</div>
