<div class="container ">
  <div class="d-flex bg-light">
    <mat-form-field class="w-75" appearance="outline">
      <input matInput type="text" placeholder="blqlq" autocomplete="false">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <button class="btn btn-block btn-dark">Create publication</button>
  </div>

  <div class=" bg-light mt-3">
    <div class="d-flex">
      <div><img height="80px" src="assets/images/bouee.png"></div>
      <div>lblblblblblblbl</div>
      <div>
        <button class="btn btn-block btn-dark">access the publication</button>
      </div>
    </div>
    <div class="d-flex">
      <div>by blbla<mat-icon><i class="material-icons">account_box</i></mat-icon></div>
      <div>x comments<mat-icon><i class="material-icons">textsms</i></mat-icon></div>
      <div>50 <mat-icon><i class="material-icons">thumb_up_alt</i></mat-icon></div>
      <div> 10/10/2010<mat-icon><i class="material-icons">access_time</i></mat-icon></div>
    </div>
  </div>

</div>
