<app-nav-bar></app-nav-bar>
<div class="container d-flex h-100">

  <div class="card h-50 m-auto">
    <div class="card-body m-auto w-75" style="display: grid">
      <div>
        <h2 class="text-center">Connexion</h2>
      </div>
      <div>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Identifiant</mat-label>
          <input matInput>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input matInput>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <button class="btn btn-block btn-light m-auto">Connexion</button>
      </div>
    </div>
  </div>

</div>
<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
