<div id="accountContainer" *ngIf="userInfos" (resized)="changeInfosDisposition($event)" class="container">
  <div class="row">
    <div id="userInfos" class="d-flex">
      <div class="card">
        <h2 class="card-title">User Informations</h2>
        <div class="card-body m-auto px-0 w-75" style="display: grid">
          <div>
            <h3 class="info-title">
              <div class="d-flex">
                Username
                <mat-icon class="ml-auto icone" (click)="openEditAccountDialog()"> edit </mat-icon>
              </div>
            </h3>
            <h3>{{userInfos.username}}</h3>
          </div>
          <div>
            <h3 class="info-title">email</h3>
            <h3>{{userInfos.email}}</h3>
          </div>
          <div>
            <h3 class="info-title">wallet</h3>
            <h3>not yet registered</h3>
          </div>
          <div>
            <h3 class="info-title">role</h3>
            <h3>{{userInfos.role}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div id="separator" class="d-flex">
      <img id="verticale-separator" class="verticale-separator" src="assets/images/verticale_waze_separator.svg">
      <img id="horizontale-separator" class="horizontal-separator" src="assets/images/horizontale_waze_separator.svg">
    </div>
    <div id="changePassword" class="d-flex">
      <div class="card">
        <h2 class="card-title">Edit Password</h2>
        <div class="card-body m-auto px-0 w-75" style="display: grid">
          <form [formGroup]="changePasswordForm">
            <div class="mb-2">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Old Password</mat-label>
                <input matInput [formControlName]="'oldPassword'" type="oldPassword" [type]="hideOldPassword ? 'password' : 'text'" autocomplete="false">
                <mat-icon class="cursor" [style.color]="hideOldPassword ? 'black' : 'grey'"  (click)="showPassword('oldPassword')" matSuffix>remove_red_eye</mat-icon>
                <mat-error>{{getFieldErrorMessage('oldPassword')}}</mat-error>
              </mat-form-field>
              <div class="mb-2">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>New Password</mat-label>
                  <input matInput [formControlName]="'newPassword'" [type]="hideNewPassword ? 'password' : 'text'" autocomplete="false">
                  <mat-icon class="cursor" [style.color]="hideNewPassword ? 'black' : 'grey'"  (click)="showPassword('newPassword')" matSuffix>remove_red_eye</mat-icon>
                  <mat-error>{{getFieldErrorMessage('newPassword')}}</mat-error>
                </mat-form-field>
              </div>
              <div class="mb-2">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Confirm New Password</mat-label>
                  <input matInput [formControlName]="'confirmNewPassword'" [type]="hideConfirmNewPassword ? 'password' : 'text'" autocomplete="false">
                  <mat-icon class="cursor" [style.color]="hideConfirmNewPassword ? 'black' : 'grey'"  (click)="showPassword('confirmNewPassword')" matSuffix>remove_red_eye</mat-icon>
                  <mat-error>{{getFieldErrorMessage('confirmNewPassword')}}</mat-error>
                </mat-form-field>
              </div>
              <div>
                <div class="mb-2">
                  <div class="d-flex m-0">1 Capital Letter<mat-icon class="ml-auto">{{ hasMajLetter ?'check_circle': 'not_interested'}}</mat-icon></div>
                  <div class="d-flex m-0">1 Lowercase Letter<mat-icon class="ml-auto">{{ hasMinLetter ?'check_circle': 'not_interested'}}</mat-icon></div>
                  <div class="d-flex m-0">1 Digit<mat-icon class="ml-auto">{{ hasNumber ?'check_circle': 'not_interested'}}</mat-icon></div>
                </div>
              </div>
              <div>
                <button (click)="changeUserPassword()" [disabled]="isRequestingChangePassword" type="submit" class="btn btn-block btn-dark m-auto">
                  <span *ngIf="!isRequestingChangePassword">Change Password</span>
                  <mat-spinner *ngIf="isRequestingChangePassword" class="m-auto" [diameter]="30" color="warn"></mat-spinner>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="card-message" class="mt-2 mb-auto card-error">
        <h3 class="m-0">{{errorMessage}}</h3>
      </div>
    </div>
  </div>
</div>



<ng-template #ModifyAccountForm>
  <h1 mat-dialog-title class="card-title">Modify your account !</h1>
  <div class="d-flex row" mat-dialog-content>
    <div class="col-12" [formGroup]="editAccountForm">

      <mat-form-field class="w-100 d-block" appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput [formControlName]="'newUserName'" type="text" placeholder="user name"/>
        <mat-error>{{getFieldErrorMessageEditAccount('newUserName')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 d-block" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput [formControlName]="'newEmail'" type="text" placeholder="email"/>
        <mat-error>{{getFieldErrorMessageEditAccount('newEmail')}}</mat-error>
      </mat-form-field>

      <div class="form-group">
        <label for="file">Profile picture</label>
        <input
          formControlName="picture"
          id="file"
          type="file"
          class="form-control"
          (change)="onFileChange($event)">
      </div>
      <div >
        <div class="d-flex">
          <img [src]="imageSrc" *ngIf="imageSrc" class="m-auto my-img" style="height: 200px;width: 200px">
        </div>
        <div class="d-flex mt-2">
          <button class="btn btn-block btn-danger w-auto m-auto " *ngIf="imageSrc" (click)="removePicture()">delete</button>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex mt-2">
      <button class="btn btn-block btn-dark py-2 mr-2 my-0" (click)="closePopUp()">Cancel</button>
      <button class="btn btn-block btn-success py-2 ml-2 my-0" [disabled]="editAccountForm.invalid" (click)="editAccount()">Change</button>
    </div>
  </div>
</ng-template>

<ng-template #awaitingModifyAccount>
  <h1 mat-dialog-title class="card-title">Editing informations ..</h1>
  <div class="d-flex" mat-dialog-content>
    <mat-spinner class="m-auto"></mat-spinner>
  </div>
</ng-template>

<ng-template #ModifyAccountRequestResult>
  <h1 mat-dialog-title class="card-title">{{modifyAccountError ? 'Error' : 'Success'}}</h1>
  <div class="d-flex" mat-dialog-content>
    <span class="text-center">
      {{modifyAccountError ? modifyAccountError: 'Acount informartion has successfully been modified !'}}
    </span>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close class="btn btn-block btn-dark" (click)="closePopUp()">Close</button>
  </div>
</ng-template>
