<div style="min-height: 80%;background-color: white;margin: auto;width: 100%;border-radius: 1rem">
  <div class="row w-100 h-100 m-0">
    <div class="col-12 col-lg-6">
      <h2 class="mt-2">Who are we ?</h2>
      <p>
        A groupe of fellow students from the school called ESGI, in class of 4AL1 realizing the annual project of
        sir raynal. The objectif is to create a sociale network like website able to execute
        codes part, with a "game" part that is open to choices !
      </p>

      <h2>The members !</h2>

      <div>
        <h3>Paolo</h3>
        <div class="d-flex">
          <img class="img-card" src="assets/images/paolo.jpeg">
          <p class="ml-2 my-auto">
            The back master of this chock team. He seem to never stop to work, a dragon (or a monster some time) among men.
            If you need something, just ask. He can do it before aladin's genius !
          </p>
        </div>
      </div>
      <div>
        <h3>Wissam</h3>
        <div class="d-flex">
          <img class="img-card" src="assets/images/paolo.jpeg">
          <p class="ml-2 my-auto">
            The only girl of the group, seems like feminism has a long way to go, but she will surely show you how you
            can surf on our platform in mobile mode with an app ! Also she's somewhat a designer.
          </p>
        </div>
      </div>
      <div>
        <h3>Redha</h3>
        <div class="d-flex mb-lg-3">
          <img class="img-card" src="assets/images/paolo.jpeg">
          <p class="ml-2 my-auto">
            The twisted guy in charge of the front part (The one that is writing those texts !).
            He said that he will "bring it's utmost for making the front part" a sentence that sound quite disturbing ...
          </p>
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-6">
      <h2  class="mt-2">Where ?</h2>
      <div id="map" class="map"></div>
      <p class="mt-3"><span class="prefix">School : </span>ESGI, École Supérieure de Génie Informatique</p>
      <p class="mt-3"><span class="prefix">Adresse : </span>242 Rue du Faubourg Saint-Antoine, 75012 Paris</p>
    </div>
  </div>
</div>

