<div style="min-height: 80%;background-color: white;margin: auto;width: 100%;border-radius: 1rem">
  <div class="row w-100 h-100 m-0">
    <div class="col-12 col-lg-6">
      <h2 class="mt-2">Who are we ?</h2>
      <p>
        A groupe of fellow students from the ESGI school, in class 4AL1, working on the annual project of
        Sir Raynal. The objective is to create a social network able to execute
        programs, with a "game" aspect that is up to the students !
      </p>

      <h2>The members !</h2>

      <div>
        <h3>Paolo</h3>
        <div class="d-flex">
          <img class="img-card" src="assets/images/paolo.jpeg">
          <p class="ml-2 my-auto">
            The back master of this elite team. He seems to never stop working, a dragon (or a monster some may say) among men.
            If you need something, just ask. He can do it quicker than Aladin's genius !
          </p>
        </div>
      </div>
      <div>
        <h3>Wissam</h3>
        <div class="d-flex">
          <img class="img-card" src="assets/images/wissam.jpeg">
          <p class="ml-2 my-auto">
            The only girl of the group, seems like feminism has a long way to go, but she will surely show you how you
            can surf on our platform in mobile mode with an app ! Also she has skills as a designer.
          </p>
        </div>
      </div>
      <div>
        <h3>Redha</h3>
        <div class="d-flex mb-lg-3">
          <img class="img-card" src="assets/images/redha2.jpeg">
          <p class="ml-2 my-auto">
            The twisted guy in charge of the front part (the one writing these texts !).
            He said that he would "do his utmost for the front part", a sentence that sounds quite disturbing ...
          </p>
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-6">
      <h2  class="mt-2">Where ?</h2>
      <div id="map" class="map"></div>
      <p class="mt-3"><span class="prefix">School : </span>ESGI, École Supérieure de Génie Informatique</p>
      <p class="mt-3"><span class="prefix">Address : </span>242 Rue du Faubourg Saint-Antoine, 75012 Paris</p>
    </div>
  </div>
</div>

